<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Topic
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid" (click)="toggleEdit()">
        <ion-icon *ngIf="edit" name="eye"></ion-icon>
        <ion-icon *ngIf="!edit" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1> {{ item?.title }}</h1>

  <ion-row>
    <ion-col size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="12" *ngFor="let item of item?.items">
      <ion-card class="clickable">
        <ion-img *ngIf="item.image" [src]="item.image"></ion-img>
            
        <ion-card-content>
          <ion-card-title >{{ item.title ? item.title : item.url }}</ion-card-title>
          <p *ngIf="item.description">{{ item.description }}</p>
        </ion-card-content>
        <ion-item *ngIf="edit">
          <ion-button *ngIf="!item.edit" fill="outline" slot="end" (click)="delete(item)">Delete</ion-button>
        </ion-item>
      </ion-card>
    </ion-col>
    
  </ion-row>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentNewUrlAlert()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
